body{
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
*{
    font-weight: 200;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
#title-text{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 40px;
    white-space: nowrap;
}
.download-title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 35px;
    white-space: nowrap;
}
.download-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    white-space: nowrap;
}
.download{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 460px;
    height: 185px;
    background-color: rgb(255,255,255,0.5);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    filter: drop-shadow(0 0px 15px rgb(0,0,0,0.3));
    transition: filter 0.5s ease,
    transform 0.5s ease;
    color: white;
}
.download:hover{
    filter: drop-shadow(0 0px 25px rgb(0,0,0,0.3));
    transform: translate(-50%,-70%);
}
.download-btn{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: none;
    color: white;
    width: 150px;
    height: 40px;
    background-color: rgb(0,50,255);
    transition: background-color 0.5s ease;
    font-size: 16px;
}
.download-btn:hover{
    background-color: rgb(0,0,225);
}
.download-btn:active{
    background-color: rgb(0,0,190);
}
#democe{
    top: 400px;
    left: calc(50% - 250px);
}
#ghvswebtpc-desktop{
    top: 400px;
    left: calc(50% + 250px);
}
#idligh2fa{
    top: 620px;
    left: calc(50% - 250px);
}
#ghvswebtpc-desktop-download-btn{
    width: 230px;
}
@media screen and (max-width: 700px) {
    #title-text{
        top: 100px;
    }
    #democe{
        left: 50%;
        top: 280px;
        width: 450px;
        white-space: nowrap;
    }
    #ghvswebtpc-desktop{
        left: 50%;
        top: 500px;
        width: 450px;
        white-space: nowrap;
    }
    #idligh2fa{
        left: 50%;
        top: 720px;
        width: 450px;
    }
}