body{
    background-image: url(../bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
*{
    font-weight: 200;
    margin: 0;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
#title-text{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    white-space: nowrap;
    color: white;
}
#v111{
    top: 250px;
    left: calc(50% - 190px);
}
#v110{
    top: 250px;
    left: calc(50% + 190px);
}
#v109{
    top: 450px;
    left: calc(50% - 190px);
}
#v108{
    top: 450px;
    left: calc(50% + 190px);
}
#v107{
    top: 650px;
    left: calc(50% - 190px);
}
#v106{
    top: 650px;
    left: calc(50% + 190px);
}
#v105{
    top: 850px;
    left: calc(50% - 190px);
}
#v104{
    top: 850px;
    left: calc(50% + 190px);
}
#v103{
    top: 1030px;
    left: calc(50% - 190px);
}
#v102{
    top: 1030px;
    left: calc(50% + 190px);
}
#v101{
    top: 1230px;
    left: calc(50% - 190px);
}
.download{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 150px;
    background-color: rgb(255,255,255,0.5);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    transition: transform 0.5s ease,
    filter 0.5s ease;
}
.download:hover{
    transform: translate(-50%,-70%);
}
.download-title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}
.download-button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    width: 130px;
    height: 40px;
    background-color: rgb(0,50,255);
    color: white;
    border: none;
    font-size: 16px;
    transition: background-color 0.5s ease;
}
.download-button:hover{
    background-color: rgb(0,0,225);
}
.download-button:active{
    background-color: rgb(0,0,190);
}
#btn1{
    position: absolute;
    top: 1230px;
    left: calc(50% + 190px);
    transform: translate(-50%,-50%);
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(0,50,255);
    color: white;
    font-size: 18px;
    transition: background-color 0.5s ease;
}
#btn1:hover{
    background-color: rgb(0,0,225);
}
#btn1:active{
    background-color: rgb(0,0,190);
}
@media screen and (max-width: 700px) {
    #title-text{
        top: 50px;
        font-size: 30px;
    }
    #v100,#v101,#v102,#v103,#v104,#v105,#v106,#v107,#v108,#v109,#v110,#v111{
        left: 50%;
    }
    #v111{
        top: 190px;
    }
    #v110{
        top: 370px;
    }
    #v109{
        top: 550px;
    }
    #v108{
        top: 730px;
    }
    #v107{
        top: 910px;
    }
    #v106{
        top: 1110px;
    }
    #v105{
        top: 1310px;
    }
    #v104{
        top: 1510px;
    }
    #v103{
        top: 1710px;
    }
    #v102{
        top: 1910px;
    }
    #v101{
        top: 2110px;
    }
    .download:hover{
        transform: translate(-50%,-60%);
    }
    #btn1{
        top: 2225px;
        left: 50%;
    }
}
#menu{
    position: fixed;
    transform: translate(-50%,-50%) scale(0.8);
    width: 180px;
    height: 513px;
    background-color: rgb(255,255,255,0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease,
    opacity 0.5s ease,
    transform 0.5s ease,
    top 0.5s ease,
    left 0.5s ease;
}
.menu-item{
    width: 90%;
    height: 40px;
    background-color: transparent;
    text-align: center;
    margin: 6px auto;
    line-height: 40px;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}
.menu-item:hover{
    background-color: rgb(230,230,230);
}
#info{
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 210px;
    height: 50px;
    background-color: rgb(230,230,230,0.6);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease,
    opacity 0.5s ease;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}